<div class="border-form-div">
  <%= form_for [@post, @comment], html: { class: 'form-horizontal' } do |f| %>
    <div class="form-group">
      <%= f.text_area :content, :class => "form-control", :placeholder => 'Add a comment' %>
    </div>
    <div class="form-group">
      <%= f.submit %>
    </div>
  <% end %>
</div>
