<h3>You are about to purchase this print for £5</h3>

<%= render @post %>

<%= form_tag post_charges_path(@post) do %>
  <article>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.secrets.stripe_public_key %>"
          data-description="A month's subscription"
          data-amount="500"></script>
<% end %>